# Group 36 Project Proposal

### Group Members: Bhavtej Bhasin, Peter Chen, Theresa Choi, Sky Langille
### DSCI 100 004

**Proposed Title:** Predictive Model for University Ranking Based on Undetermined Factors

**Introduction:**
- provide background info on selected topic
- clearly state our predictive question
- identify and describe the data set we chose to use

In [1]:
#loading libraries
library(repr)
library(tidyverse)
library(tidymodels)
options(repr.matrix.max.rows = 10)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [3]:
#load dataset
university_data <- read_csv("World University Rankings 2023.csv")
university_data

Rows: 2341 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (11): University Rank, Name of University, Location, International Stude...
dbl  (1): No of student per staff
num  (1): No of student

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     University Rank Name of University                    Location
1    1               University of Oxford                  United Kingdom
2    2               Harvard University                    United States
3    3               University of Cambridge               United Kingdom
4    3               Stanford University                   United States
5    5               Massachusetts Institute of Technology United States
⋮    ⋮               ⋮                                     ⋮
2337 -               University of the West of Scotland    NA
2338 -               University of Windsor                 NA
2339 -               University of Wolverhampton           NA
2340 -               University of Wuppertal               NA
2341 -               Xi’an Jiaotong-Liverpool University   NA
     No of student No of student per staff International Student
1    20965         10.6                    42%
2    21887          9.6                    25%
3    20185         11.3                    39%
4    16164          7.1                    24%
5    11415          8.2                    33%
⋮    ⋮             ⋮                       ⋮
2337 NA            NA                      NA
2338 NA            NA                      NA
2339 NA            NA                      NA
2340 NA            NA                      NA
2341 NA            NA                      NA
     Female:Male Ratio OverAll Score Teaching Score Research Score
1    48 : 52           96.4          92.3           99.7
2    50 : 50           95.2          94.8           99.0
3    47 : 53           94.8          90.9           99.5
4    46 : 54           94.8          94.2           96.7
5    40 : 60           94.2          90.7           93.6
⋮    ⋮                 ⋮             ⋮              ⋮
2337 NA                34.0–39.2     24.1           15.5
2338 NA                34.0–39.2     35.1           29.4
2339 NA                34.0–39.2     18.2           14.3
2340 NA                34.0–39.2     26.4           26.7
2341 NA                34.0–39.2     17.8           14.8
     Citations Score Industry Income Score International Outlook Score
1    99.0            74.9                  96.2
2    99.3            49.5                  80.5
3    97.0            54.2                  95.8
4    99.8            65.0                  79.8
5    99.8            90.9                  89.3
⋮    ⋮               ⋮                     ⋮
2337 61.5            37.9                  76.8
2338 34.5            44.2                  88.7
2339 68.8            37.3                  72.0
2340 52.8            52.1                  47.6
2341 68.2            38.2                  72.4

**Preliminary Data Analysis:**
- demonstrate data set can be read into R
- clean and wrangle data into tidy format
- separate into training and test data; summarize training data into a table and visualize data with at least one plot

**Methods:**
- explain how we will conduct analysis and what variable or columns will be used
- describe at least one way we will visualize our results

**Expected Outcomes and Significance:**
- what do we expect to happen?
- why is this important?
- what future questions can this lead to?